#miningProgress {
    width: 100px;
    background-color: #ddd;
}
  
#miningBar {
    width: 1%;
    height: 20px;
    background-color: #04AA6D;
}

#fishingProgress {
    width: 100px;
    background-color: #ddd;
}
  
#fishingBar {
    width: 1%;
    height: 20px;
    background-color: #04AA6D;
}
